@use "../../styles/tokens.scss" as *;

.selectWrapper {
  display: inline-block;
  position: relative;
}

.daySelector {
  display: flex;
  align-items: center;
  gap: $spacing-150;
  border: none;
  cursor: pointer;
  background-color: $color-neutral-600;
  border-radius: $border-radius-8;
  color: $color-neutral-0;
  padding: $spacing-100 $spacing-200;
  overflow: hidden;
  transition: $btn-hover;

  &:hover {
    background-color: $color-neutral-700;
  }
}

.daysList {
  min-width: 214px;
  border: 1px solid $color-neutral-600;
  border-radius: $border-radius-12;
  background-color: $color-neutral-800;
  color: $color-neutral-0;
  padding: $spacing-100;
  list-style-type: none;
  margin: 10px 0 0 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.dayItem {
  padding: $spacing-125 $spacing-100;
  cursor: pointer;

  &:hover {
    border-radius: $border-radius-8;
    background-color: $color-neutral-700;
  }
}
