@use "../../styles/tokens.scss" as *;

.button {
  background-color: $color-blue-500;
  padding: $spacing-200 $spacing-300;
  border-radius: $border-radius-12;
  border-style: hidden;
  color: $color-neutral-0;
  cursor: pointer;
  transition: $btn-hover;

  &:hover {
    background-color: $color-blue-700;
  }
}
