@use "../../styles/tokens.scss" as *;

.apiErrorMessage {
  max-width: 593px;
  margin: $spacing-500 auto 0;
  text-align: center;

  .title {
    color: $color-neutral-0;
    margin-top: $spacing-300;
  }

  .subtitle {
    padding: $spacing-300 $spacing-125;
    color: $color-neutral-200;
  }

  .retryButton {
    display: flex;
    align-items: center;
    gap: $spacing-125;
    flex-direction: row;
    padding: $spacing-150 $spacing-200;
    margin: 0 auto;
    border-radius: $border-radius-8;
    background-color: $color-neutral-800;
    color: $color-neutral-0;
    border: none;
    cursor: pointer;
    transition: $btn-hover;

    &:hover {
      background-color: $color-neutral-700;
    }

    svg {
      width: 16px;
      height: 16px;
      color: $color-neutral-0;
    }
  }
}
