@use "../../styles/tokens.scss" as *;

.unitsSelector {
  position: relative;
  max-width: 119px;

  .unitsButton {
    appearance: none;
    display: flex;
    align-items: center;
    padding: $spacing-150 $spacing-200;
    border-radius: $border-radius-8;
    background-color: $color-neutral-800;
    color: $color-neutral-0;
    border: none;
    cursor: pointer;
    transition: $btn-hover;

    &:hover {
      background-color: $color-neutral-700;
    }
  }

  .label {
    padding: 0 $spacing-125;
  }

  .unitsWrapper {
    position: absolute;
    top: 53px;
    right: 0;
    min-width: 214px;
    background-color: $color-neutral-800;
    border: 1px solid $color-neutral-600;
    border-radius: $border-radius-12;
    padding: $spacing-075 $spacing-100;
    z-index: 1;
  }

  .toggleUnits {
    width: 100%;
    padding: $spacing-125 $spacing-100;
    appearance: none;
    border: none;
    background-color: transparent;
    text-align: left;
    color: $color-neutral-0;
    cursor: pointer;
    transition: $btn-hover;

    &:hover {
      background-color: $color-neutral-700;
    }
  }

  .weatherVariable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      margin: $spacing-050 0;
      background-color: $color-neutral-600;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .weatherVariableName {
    color: $color-neutral-300;
    padding: $spacing-075 $spacing-100 $spacing-100 $spacing-100;
  }

  .weatherVariableUnit {
    color: $color-neutral-0;
    width: 100%;
    padding: $spacing-100 $spacing-125;
    text-align: left;

    &.active {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-radius: $border-radius-8;
      background-color: $color-neutral-700;

      &::after {
        content: url('data:image/svg+xml,%3csvg%20viewBox="0%200%2014%2011"%20fill="none"%20xmlns="http://www.w3.org/2000/svg"%3e%3cpath%20d="M11.8945%201.04688C12.0312%200.910156%2012.25%200.910156%2012.3594%201.04688L13.1523%201.8125C13.2617%201.94922%2013.2617%202.16797%2013.1523%202.27734L4.94922%2010.4805C4.8125%2010.6172%204.62109%2010.6172%204.48438%2010.4805L0.820312%206.84375C0.710938%206.70703%200.710938%206.48828%200.820312%206.37891L1.61328%205.58594C1.72266%205.47656%201.94141%205.47656%202.07812%205.58594L4.70312%208.23828L11.8945%201.04688Z"%20fill="%23fff"/%3e%3c/svg%3e');
        display: inline-block;
        width: 14px;
      }
    }
  }
}
