$breakpoint-md: 768px;
$breakpoint-lg: 1080px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
