@use "../../styles/tokens.scss" as *;

.hourlyWeatherCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-100;
  background-color: $color-neutral-700;
  padding: $spacing-125 $spacing-200 $spacing-125 $spacing-150;
  border-radius: $border-radius-8;
  border: 1px solid $color-neutral-600;
}

.iconContainer {
  width: 40px;
  height: 40px;

  img {
    width: 100%;
  }
}

.timeTempContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  color: $color-neutral-0;
}
