@use "../../styles/tokens.scss" as *;

.searchInputContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.searchInput {
  border-radius: $border-radius-12;
  padding: $spacing-200 $spacing-300 $spacing-200 60px;
  background-color: $color-neutral-800;
  border-style: hidden;
  color: $color-neutral-200;
  flex-grow: 1;

  &::placeholder {
    color: $color-neutral-200;
  }

  &:hover {
    background-color: $color-neutral-700;
  }
}
