@use "../../styles/tokens.scss" as *;

.dailyForecastCard {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
  padding: $spacing-200 $spacing-125;
  background-color: $color-neutral-800;
  border: 1px solid $color-neutral-600;
  border-radius: $border-radius-12;

  .dayLabel {
    color: $color-neutral-0;
    text-align: center;
  }

  .dailyIcon {
    display: inline-block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
  }

  .temperatureWrapper {
    display: flex;
    color: $color-neutral-0;
    justify-content: space-between;
  }
}
