@use "../../styles/tokens.scss" as *;

.weatherDetailCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-300;
  padding: $spacing-250;
  background-color: $color-neutral-800;
  border: 1px solid $color-neutral-600;
  border-radius: $border-radius-12;
}

.detailTitle {
  color: $color-neutral-200;
}

.detailInfo {
  color: $color-neutral-0;
}
