@use "./styles/breakpoints.scss" as *;
@use "./styles/tokens.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: $color-neutral-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1216px;
  margin: 0 auto;
}

body {
  margin: $spacing-200 $spacing-200 $spacing-600 $spacing-200;

  @include respond-to(md) {
    margin: $spacing-300 $spacing-300 $spacing-1000 $spacing-300;
  }
}

h1,
p {
  margin: 0;
  padding: 0;
}

.mainTitle {
  display: block;
  margin: 0 auto;
  color: $color-neutral-0;
  padding: $spacing-600 $spacing-075;
  text-align: center;

  @include respond-to(md) {
    max-width: 482px;
  }

  @include respond-to(lg) {
    max-width: 800px;
    padding: $spacing-800 0;
  }
}

.searchResultWrapper {
  padding-top: $spacing-400;

  @include respond-to(lg) {
    max-width: 1216px;
    display: grid;
    grid-template-columns: 65.79% 31.579%;
    grid-template-rows: auto auto auto;
    column-gap: 2.631%;
  }
}
