@use "./styles/breakpoints.scss" as *;
@use "./styles/tokens.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: $color-neutral-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1216px;
  margin: 0 auto;
}

body {
  margin: $spacing-200 $spacing-200 $spacing-600 $spacing-200;

  @include respond-to(md) {
    margin: $spacing-300 $spacing-300 $spacing-1000 $spacing-300;
  }
}

h1,
p {
  margin: 0;
  padding: 0;
}

.mainTitle {
  display: block;
  margin: 0 auto;
  color: $color-neutral-0;
  padding: $spacing-600 $spacing-075;
  text-align: center;

  @include respond-to(md) {
    max-width: 482px;
  }

  @include respond-to(lg) {
    max-width: 800px;
    padding: $spacing-800 0;
  }
}

.searchResultWrapper {
  padding-top: $spacing-400;

  @include respond-to(lg) {
    max-width: 1216px;
    display: grid;
    grid-template-columns: 65.79% 31.579%;
    grid-template-rows: auto auto auto;
    column-gap: 2.631%;
  }
}

.weatherDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-200;
  padding-top: $spacing-250;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $spacing-250;
  }

  @include respond-to(lg) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: $spacing-400;
  }
}

.dailyForecastContainer {
  padding-top: $spacing-400;

  @include respond-to(lg) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: $spacing-600;
  }

  .dailyCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $spacing-200;

    @include respond-to(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .title {
    color: $color-neutral-0;
    margin-bottom: $spacing-250;
  }
}

.hourlyForecastContainer {
  padding: $spacing-250 $spacing-200;
  margin-top: $spacing-400;
  background-color: $color-neutral-800;
  border-radius: $spacing-250;

  @include respond-to(lg) {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .headerWrapper {
    margin-bottom: $spacing-200;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: $color-neutral-0;
  }

  .hourlyCardContainer {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
  }
}

.noResults {
  margin-top: $spacing-600;
  text-align: center;
  color: $color-neutral-0;
}
