@use "../../styles/tokens.scss" as *;

.iconSvg {
  position: relative;
  display: inline-flex;

  & > span {
    display: inline-flex;
  }

  &.search svg {
    width: 20px;
    height: 20px;
    color: $color-neutral-200;
    position: absolute;
    top: 18px;
    left: 24px;
  }

  &.cog svg {
    width: 16px;
    height: 16px;
  }

  &.chevron-down svg {
    width: 12px;
    height: 18px;
  }

  &.spinner svg {
    width: 16px;
    height: 19px;
    animation: rotation 1.5s linear infinite;
  }

  &.ban svg {
    color: $color-neutral-300;
    width: 42px;
    height: 50px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
